on: push
name: Automated tests
jobs:
  test:
    name: Execute all automated tests
    runs-on: ubuntu-16.04
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install dependencies
      run: pip3 install cffi networkx requests
    - name: Run setup.py
      run: python setup.py build
    - name: Download GUM test corpus
      run: "./package/download-gum-corpus.sh"
    - name: Run documentation tests
      run: "./doctest_runner.py"
    - name: Run unit tests
      run: python -m unittest
